<div class="container">
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb" class="main-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/community/timeline">Timeline</a></li>
            <li class="breadcrumb-item active" aria-current="page">Profile Settings</li>
        </ol>
    </nav>
    <!-- /Breadcrumb -->
    {{#if failureError}}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{failureError}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {{/if}}
    {{#if successMsg}}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{successMsg}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {{/if}}
    <div class="row gutters-sm">
        <div class="col-md-4 d-none d-md-block">
            <div class="card">
                <div class="card-body">
                    <nav class="nav flex-column nav-pills nav-gap-y-1">
                        <a href="#profile" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded active">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-user mr-2">
                                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                <circle cx="12" cy="7" r="4"></circle>
                            </svg>
                            Profile Information
                        </a>
                        <a href="#account" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-settings mr-2">
                                <circle cx="12" cy="12" r="3"></circle>
                                <path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path>
                            </svg>
                            Account Settings
                        </a>
                        <a href="#security" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-shield mr-2">
                                <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                            </svg>
                            Security
                        </a>
                        <a href="#billing" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-credit-card mr-2">
                                <rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect>
                                <line x1="1" y1="10" x2="23" y2="10"></line>
                            </svg>
                            Billing
                        </a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header border-bottom mb-3 d-flex d-md-none">
                    <ul class="nav nav-tabs card-header-tabs nav-gap-x-1" role="tablist">
                        <li class="nav-item">
                            <a href="#profile" data-toggle="tab" class="nav-link has-icon active">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-user">
                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="12" cy="7" r="4"></circle>
                                </svg>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#account" data-toggle="tab" class="nav-link has-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-settings">
                                    <circle cx="12" cy="12" r="3"></circle>
                                    <path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path>
                                </svg>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#security" data-toggle="tab" class="nav-link has-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-shield">
                                    <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                                </svg>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#billing" data-toggle="tab" class="nav-link has-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-credit-card">
                                    <rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect>
                                    <line x1="1" y1="10" x2="23" y2="10"></line>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body tab-content">
                    <div class="tab-pane active" id="profile">
                        <h6>YOUR PROFILE INFORMATION</h6>
                        <hr>
                        <form class="mt-3" action="/community/update-personal-info" method="post">
                            <input type="hidden" name="userId" value="{{userInfo._id}}"/>
                            {{#if session.editable}}
                                <div class="form-group">
                                    <label for="fullName">Full Name</label>
                                    <input type="text" class="form-control" name="fullName" id="fullName"
                                           aria-describedby="fullNameHelp"
                                           placeholder="Enter your fullname" value="{{userInfo.fullName}}">
                                </div>
                                <div class="form-group">
                                    <label for="fullName">Email Address</label>
                                    <input type="email" class="form-control" name="email" id="email"
                                           aria-describedby="fullNameHelp"
                                           placeholder="Enter your email address" value="{{userInfo.email}}">
                                </div>
                            {{/if}}
                            <div class="form-group">
                                <label for="bio">About you</label>
                                <textarea class="form-control autosize" name="aboutYou" id="bio"
                                          placeholder="Write something about you"
                                          style="overflow-y: scroll; overflow-wrap: break-word; resize: none; height: 150px;">{{userInfo.aboutYou}}</textarea>
                            </div>
                            <div class="form-group small text-muted">
                                All of the fields on this page are optional and can be deleted at any time, and by
                                filling them out, you're giving us consent to share this data wherever your user profile
                                appears.
                            </div>
                            <div class="form-group">
                                <label for="url">Web</label>
                                <input type="text" class="form-control" id="web" name="website"
                                       placeholder="Enter your website address" value="{{userInfo.website}}">
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 form-group">
                                    <label for="url">Facebook</label>
                                    <input type="text" class="form-control" id="url" name="facebook"
                                           placeholder="Enter your facebook name" value="{{userInfo.facebook}}">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="url">Twitter</label>
                                    <input type="text" class="form-control" id="url" name="twitter"
                                           placeholder="Enter your twitter name" value="{{userInfo.twitter}}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 form-group">
                                    <label for="url">Instagram</label>
                                    <input type="text" class="form-control" id="url" name="instagram"
                                           placeholder="Enter your instagram name" value="{{userInfo.instagram}}">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="url">Youtube</label>
                                    <input type="text" class="form-control" id="url" name="youtube"
                                           placeholder="Enter your youtube name" value="{{userInfo.youtube}}">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Update Profile</button>
                        </form>
                    </div>
                    <div class="tab-pane" id="account">
                        <h6>ACCOUNT SETTINGS</h6>
                        <hr>
                        <form class="mt-3" action="/community/update-username" method="post">
                            <input type="hidden" name="userId" value="{{userInfo._id}}"/>
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" id="username" aria-describedby="usernameHelp"
                                       name="username"
                                       placeholder="Enter your username" value="@{{userInfo.username}}">
                                <small id="username_availability"></small>
                                <small id="usernameHelp" class="form-text text-muted">After changing your username, your
                                    old username becomes available for anyone else to claim.</small>
                            </div>
                            <div class="form-group">
                                <button disabled type="submit" id="update_username_btn" class="btn btn-primary">Update
                                    Username
                                </button>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label class="d-block text-danger">Delete Account</label>
                                <p class="text-muted font-size-sm">Once you delete your account, there is no going back.
                                    Please be certain.</p>
                            </div>
                            <button class="btn btn-danger deleteAccount" value="{{userInfo._id}}" type="button">Delete
                                Account
                            </button>
                        </form>
                    </div>
                    <div class="tab-pane" id="security">
                        <h6>SECURITY SETTINGS</h6>
                        <hr>
                        {{#if session.editable}}
                            <form class="mt-3" action="/community/change-password" method="post">
                                <div class="form-group">
                                    <label class="d-block">Change Password</label>
                                    <input type="hidden" name="userid" value="{{userInfo._id}}">
                                    <input type="password" name="oldPassword" class="form-control" placeholder="Enter your old password">
                                    <input type="password" name="newPassword" class="form-control mt-2" placeholder="New password">
                                    <input type="password" name="RepNewPassword" class="form-control mt-2" placeholder="Confirm new password">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Update
                                        Password
                                    </button>
                                </div>
                            </form>
                            <hr>
                        {{/if}}
                        <form class="mt-3">
                            <div class="form-group mb-0">
                                <label class="d-block">Sessions</label>
                                <p class="font-size-sm text-secondary">This is a list of devices that have logged into
                                    your account. Revoke any sessions that you do not recognize.</p>
                                <ul class="list-group list-group-sm">
                                    <li class="list-group-item has-icon">
                                        <div>
                                            <h6 class="mb-0">San Francisco City 190.24.335.55</h6>
                                            <small class="text-muted">Your current session seen in United States</small>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="billing">
                        <h6>BILLING SETTINGS</h6>
                        <hr>
                        <form class="mt-3">
                            <div class="form-group mb-3">
                                {{#if userInfo.hasMembership}}
                                    <p><strong>Current plan: </strong>Standard Plan</p>
                                    <p><strong>Valid until: </strong>21/07/2021</p>
                                    <a href="/community/cancel-membership" class="btn btn-danger" type="button">Cancel
                                        Membership</a>
                                {{else}}
                                    <a href="/community/payment" class="btn btn-primary" type="button">Create
                                        Membership</a>
                                {{/if}}
                            </div>
                            <div class="form-group mb-0">
                                <label class="d-block">Payment History</label>
                                <!--                                <div class="border border-gray-500 bg-gray-200 p-3 text-center font-size-sm">You have-->
                                <!--                                    not made any payment.-->
                                <!--                                </div>-->
                                <ul class="list-group list-group-sm">
                                    <li class="list-group-item has-icon">
                                        <div>
                                            <h6 class="mb-0">Standard Plan €4.99</h6>
                                            <small class="text-muted">Purchase date: 22/06/2021</small>
                                        </div>
                                    </li>
                                    <li class="list-group-item has-icon">
                                        <div>
                                            <h6 class="mb-0">Standard Plan €4.99</h6>
                                            <small class="text-muted">Purchase date: 22/06/2021</small>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    var typingTimer;
    var doneTypingInterval = 1000;
    $('#username').keyup(function () {
        clearTimeout(typingTimer);
        if ($('#username').val) {
            typingTimer = setTimeout(function () {
                //do stuff here e.g ajax call etc....
                var username = $("#username").val();
                $.ajax({
                    url: '/community/check-username',
                    method: "POST",
                    data: {username: username},
                    success: function (data) {
                        if (data.exist == true) {
                            $('#username_availability').text("Μη διαθέσιμο όνομα χρήστη");
                            $('#username_availability').css("color", "red");
                            $('#update_username_btn').attr("disabled", true);
                        } else {
                            $('#username_availability').text("Διαθέσιμο όνομα χρήστη");
                            $('#username_availability').css("color", "green");
                            $('#update_username_btn').attr("disabled", false);
                        }
                    }
                })
            }, doneTypingInterval);
        }
    });

    $(".deleteAccount").click(function () {
                if (confirm("Είστε σίγουρος ότι θέλετε να διαγράψετε τον λογαριασμό σας?")) {
                    window.location.href = "/community/delete-account/" + this.value;
                }
            }
    );
</script>