<!-- Page Content -->
<!--=====================================-->
<!--=        Newsfeed  Area Start       =-->
<!--=====================================-->
<div class="container">
    <!-- Banner Area Start -->
    <div class="newsfeed-banner">
        <div class="media">
            <div class="item-icon">
                <i class="icofont-megaphone-alt"></i>
            </div>
            <div class="media-body">
                <h3 class="item-title">Members Feed</h3>
                <p>Check what your friends have been up to!</p>
            </div>
        </div>
        <ul class="animation-img">
            <li data-sal="slide-down" data-sal-duration="800" data-sal-delay="400"><img src="/media/banner/shape_7.png"
                                                                                        alt="shape"></li>
            <li data-sal="slide-up" data-sal-duration="500"><img src="/media/banner/people_2.png" alt="shape"></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="block-box post-input-tab">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation" data-toggle="tooltip" data-placement="top" title="POST">
                        <a class="nav-link active" data-toggle="tab" href="#post-media" role="tab"
                           aria-selected="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-file-earmark-text" viewBox="0 0 16 16">
                                <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
                                <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
                            </svg>&nbsp; What are your thinking?</a>
                    </li>
                </ul>
                <form action="/community/createPost" method="post">
                    <div class="tab-content">
                        <div class="tab-pane fade show active grow-wrap" id="post-media" role="tabpanel">
                        <textarea name="textPost" id="status-input2" class="form-control textarea"
                                  onInput="this.parentNode.dataset.replicatedValue = this.value"
                                  placeholder="Share what are you thinking . . ." cols="30" rows="6"></textarea>
                        </div>
                    </div>
                    <div class="imageinput-upload" id="previewImg" style="display:none;">
                        <div class="imageinput-preview">
                            <div id="imagePreview">
                            </div>
                        </div>
                    </div>
                    <div class="post-footer">
                        <div class="insert-btn">
                            <div class="imageinput-edit">
                                <input type='file' hidden id="imageUpload" accept=".png, .jpg, .jpeg"/>
                                <div class="imageuploadbox">
                                    <div class="icon psyboximg">
                                        <label for="imageUpload">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-image" viewBox="0 0 16 16">-->
                                                <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                                -->
                                                <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"/>
                                                -->
                                            </svg>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn psyboxBtn psyboxBtn-blue">Post Submit</button>
                    </div>
                </form>
            </div>
            {{#each posts}}
                <div class="block-box post-view">
                    <div class="post-header">
                        <div class="media">
                            <div class="user-img">
                                <img src="{{this.authorAvatar}}" alt="{{this.authorUsername}}">
                            </div>
                            <div class="media-body">
                                <div class="user-title"><a
                                        href="/community/timeline/@{{this.authorUsername}}">{{this.authorName}}</a>
                                </div>
                                <ul class="entry-meta">
                                    <li class="meta-time">{{this.createdDate}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                ...
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Close</a>
                                <a class="dropdown-item" href="#">Edit</a>
                                <a class="dropdown-item" href="#">Delete</a>
                            </div>
                        </div>
                    </div>
                    <div class="post-body">
                        <div class="post-no-thumbnail">
                            <p>
                                {{this.postText}}
                            </p>
                        </div>
                        <div class="post-meta-wrap">
                            <div class="post-meta openModalPost" data-postid="{{this._id}}">
                                <div class="meta-text"><span
                                        id="reactions_count_{{this._id}}">{{this.countReactions}}</span> Reactions
                                </div>
                                <div class="meta-text">2 Comments</div>
                                <div class="meta-text">05 Share</div>
                            </div>
                        </div>
                    </div>
                    <div class="post-footer">
                        <ul>
                            <li class="post-react">
                                {{#if this.isReaction}}
                                    <a id="postid_{{this._id}}" class="reacted" data-current-reaction="{{this.myReaction.0.type}}" style="background: var(--{{this.myReaction.0.type}}-color)"
                                       href="javascript:void(0)">
                                        <img class="reactionbtn"
                                             src="/media/reactions/{{this.myReaction.0.type}}.svg"
                                             alt="Wink">&nbsp;
                                        <span>{{this.myReaction.0.type}}!</span>
                                    </a>
                                {{else}}
                                    <a id="postid_{{this._id}}" href="javascript:void(0)"><img class="reactionbtn"
                                                                                               src="/media/reactions/Wink.svg"
                                                                                               alt="Wink">&nbsp;<span>React!</span></a>
                                {{/if}}
                                <ul class="react-list">
                                    <li><a href="javascript:void(0)" data-reaction="Wink"
                                           data-postid="{{this._id}}"><img src="/media/reactions/Wink.svg"
                                                                           alt="Wink"></a></li>
                                    <li><a href="javascript:void(0)" data-reaction="Hearts"
                                           data-postid="{{this._id}}"><img src="/media/reactions/Hearts.svg"
                                                                           alt="Hearts"></a></li>
                                    <li><a href="javascript:void(0)" data-reaction="Amazed"
                                           data-postid="{{this._id}}"><img src="/media/reactions/Amazed.svg"
                                                                           alt="Amazed"></a></li>
                                    <li><a href="javascript:void(0)" data-reaction="Tears"
                                           data-postid="{{this._id}}"><img src="/media/reactions/Tears.svg" alt="Tears"></a>
                                    </li>
                                    <li><a href="javascript:void(0)" data-reaction="Frown"
                                           data-postid="{{this._id}}"><img src="/media/reactions/Frown.svg" alt="Frown"></a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="javascript:void(0)" class="openModalPost" data-postid="1"><i
                                    class="icofont-comment"></i>Comment</a></li>
                            <li class="post-share">
                                <a href="javascript:void(0);" class="share-btn"><i class="icofont-share"></i>Share</a>
                                <ul class="share-list">
                                    <li><a href="#" class="color-fb"><i class="icofont-facebook"></i></a></li>
                                    <li><a href="#" class="color-messenger"><i
                                            class="icofont-facebook-messenger"></i></a>
                                    </li>
                                    <li><a href="#" class="color-instagram"><i class="icofont-instagram"></i></a></li>
                                    <li><a href="#" class="color-whatsapp"><i class="icofont-brand-whatsapp"></i></a>
                                    </li>
                                    <li><a href="#" class="color-twitter"><i class="icofont-twitter"></i></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            {{/each}}
            <div class="block-box load-more-btn">
                <a href="#" class="item-btn"><i class="icofont-refresh"></i>Load More Posts</a>
            </div>
        </div>
        <div class="col-lg-4 widget-block widget-break-lg">
            <div class="widget widget-memebers">
                <div class="widget-heading">
                    <h3 class="widget-title">Members</h3>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="newest-member" role="tabpanel">
                        <div class="members-list">
                            {{#each recommendedUsers}}
                                <div class="media">
                                    <div class="item-img">
                                        <a href="/community/timeline/@{{this.username}}">
                                            <img src="{{this.avatar}}" alt="{{this.username}}">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="item-title"><a
                                                href="/community/timeline/@{{this.username}}">{{this.fullName}}</a></h4>
                                        <div class="item-username">@{{this.username}}</div>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget widget-banner">
                <h3 class="item-title">Most Popular</h3>
                <div class="item-subtitle">Circle Application</div>
                <a href="#" class="item-btn">
                    <span class="btn-text">Register Now</span>
                    <span class="btn-icon">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink"
                             width="21px" height="10px">
                            <path fill-rule="evenodd"
                                  d="M16.671,9.998 L12.997,9.998 L16.462,6.000 L5.000,6.000 L5.000,4.000 L16.462,4.000 L12.997,0.002 L16.671,0.002 L21.003,5.000 L16.671,9.998 ZM17.000,5.379 L17.328,5.000 L17.000,4.621 L17.000,5.379 ZM-0.000,4.000 L3.000,4.000 L3.000,6.000 L-0.000,6.000 L-0.000,4.000 Z"/>
                        </svg>
                    </span>
                </a>
                <div class="item-img">
                    <img src="/media/figure/widget_banner_1.png" alt="banner">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="postModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn close_modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-post">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block">
                            <div class="block-box post-view">
                                <div class="post-header">
                                    <div class="media">
                                        <div class="user-img">
                                            <img src="/media/figure/chat_10.jpg" alt="Aahat">
                                        </div>
                                        <div class="media-body">
                                            <div class="user-title"><a href="/community/timeline">Aahat Akter</a></div>
                                            <ul class="entry-meta">

                                                <li class="meta-time">2 mins ago</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="dropdown">
                                        <button class="dropdown-toggle" type="button" data-toggle="dropdown"
                                                aria-expanded="false">
                                            ...
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#">Close</a>
                                            <a class="dropdown-item" href="#">Edit</a>
                                            <a class="dropdown-item" href="#">Delete</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-body">
                                    <p>I have great news to share with you all! I've been officially made a game
                                        streaming verified
                                        partner by Streamy http://radiustheme.com/ What does this mean? I'll be
                                        uploading new content
                                        every day, improving the quality and I'm gonna have access to games a month
                                        before the official
                                        release. <i class="icofont-wink-smile"></i></p>
                                    <div class="post-img">
                                        <img src="/media/figure/post_1.jpg" alt="Post">
                                    </div>
                                </div>
                                <div class="post-footer">
                                    <ul>
                                        <li class="post-react">
                                            <img class="reactionbtn" src="/media/reactions/Wink.svg"
                                                 alt="Wink"><span>22</span>
                                            <img class="reactionbtn" src="/media/reactions/Hearts.svg"
                                                 alt="Hearts"><span>16</span>
                                            <img class="reactionbtn" src="/media/reactions/Amazed.svg"
                                                 alt="Amazed"><span>4</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="post-view text-center d-block d-lg-none">
                                <div class="post-footer">
                                    <ul>
                                        <li class="post-react">
                                            <img class="reactionbtn" src="/media/reactions/Wink.svg"
                                                 alt="Wink"><span>22</span>
                                            <img class="reactionbtn" src="/media/reactions/Hearts.svg"
                                                 alt="Hearts"><span>16</span>
                                            <img class="reactionbtn" src="/media/reactions/Amazed.svg"
                                                 alt="Amazed"><span>4</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="post-view">
                                <div class="post-comment">
                                    <ul class="comment-list">
                                        <li class="main-comments">
                                            <div class="each-comment">
                                                <div class="post-header">
                                                    <div class="media">
                                                        <div class="user-img">
                                                            <img src="/media/figure/chat_14.jpg" alt="Aahat">
                                                        </div>
                                                        <div class="media-body">
                                                            <div class="user-title"><a href="/community/timeline">Aahat
                                                                Akter</a>
                                                            </div>
                                                            <ul class="entry-meta">
                                                                <li class="meta-time">5 mins ago</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="dropdown">
                                                        <button class="dropdown-toggle" type="button"
                                                                data-toggle="dropdown"
                                                                aria-expanded="false">
                                                            ...
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="#">Close</a>
                                                            <a class="dropdown-item" href="#">Edit</a>
                                                            <a class="dropdown-item" href="#">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-body">
                                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                                        accusantium der
                                                        doloremque laudantiumSed ut perspicia tisery..</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="main-comments">
                                            <div class="each-comment">
                                                <div class="post-header">
                                                    <div class="media">
                                                        <div class="user-img">
                                                            <img src="/media/figure/chat_14.jpg" alt="Aahat">
                                                        </div>
                                                        <div class="media-body">
                                                            <div class="user-title"><a href="/community/timeline">Aahat
                                                                Akter</a>
                                                            </div>
                                                            <ul class="entry-meta">
                                                                <li class="meta-time">5 mins ago</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="dropdown">
                                                        <button class="dropdown-toggle" type="button"
                                                                data-toggle="dropdown"
                                                                aria-expanded="false">
                                                            ...
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="#">Close</a>
                                                            <a class="dropdown-item" href="#">Edit</a>
                                                            <a class="dropdown-item" href="#">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-body">
                                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                                        accusantium der
                                                        doloremque laudantiumSed ut perspicia tisery..</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="main-comments">
                                            <div class="each-comment">
                                                <div class="post-header">
                                                    <div class="media">
                                                        <div class="user-img">
                                                            <img src="/media/figure/chat_14.jpg" alt="Aahat">
                                                        </div>
                                                        <div class="media-body">
                                                            <div class="user-title"><a href="/community/timeline">Aahat
                                                                Akter</a>
                                                            </div>
                                                            <ul class="entry-meta">
                                                                <li class="meta-time">5 mins ago</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="dropdown">
                                                        <button class="dropdown-toggle" type="button"
                                                                data-toggle="dropdown"
                                                                aria-expanded="false">
                                                            ...
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="#">Close</a>
                                                            <a class="dropdown-item" href="#">Edit</a>
                                                            <a class="dropdown-item" href="#">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-body">
                                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                                        accusantium der
                                                        doloremque laudantiumSed ut perspicia tisery..</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="main-comments">
                                            <div class="each-comment">
                                                <div class="post-header">
                                                    <div class="media">
                                                        <div class="user-img">
                                                            <img src="/media/figure/chat_14.jpg" alt="Aahat">
                                                        </div>
                                                        <div class="media-body">
                                                            <div class="user-title"><a href="/community/timeline">Aahat
                                                                Akter</a>
                                                            </div>
                                                            <ul class="entry-meta">
                                                                <li class="meta-time">5 mins ago</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="dropdown">
                                                        <button class="dropdown-toggle" type="button"
                                                                data-toggle="dropdown"
                                                                aria-expanded="false">
                                                            ...
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="#">Close</a>
                                                            <a class="dropdown-item" href="#">Edit</a>
                                                            <a class="dropdown-item" href="#">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-body">
                                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                                        accusantium der
                                                        doloremque laudantiumSed ut perspicia tisery..</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="main-comments">
                                            <div class="each-comment">
                                                <div class="post-header">
                                                    <div class="media">
                                                        <div class="user-img">
                                                            <img src="/media/figure/chat_14.jpg" alt="Aahat">
                                                        </div>
                                                        <div class="media-body">
                                                            <div class="user-title"><a href="/community/timeline">Aahat
                                                                Akter</a>
                                                            </div>
                                                            <ul class="entry-meta">
                                                                <li class="meta-time">5 mins ago</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="dropdown">
                                                        <button class="dropdown-toggle" type="button"
                                                                data-toggle="dropdown"
                                                                aria-expanded="false">
                                                            ...
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="#">Close</a>
                                                            <a class="dropdown-item" href="#">Edit</a>
                                                            <a class="dropdown-item" href="#">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-body">
                                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                                        accusantium der
                                                        doloremque laudantiumSed ut perspicia tisery..</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="load-more-btn">
                                        <a href="#" class="item-btn">Load More Comments <span>4+</span></a>
                                    </div>
                                    <div class="comment-reply">
                                        <div class="user-img">
                                            <img src="/media/figure/chat_15.jpg" alt="Aahat">
                                        </div>
                                        <div class="input-box">
                                            <input type="text" name="comment" class="form-control"
                                                   placeholder="Your Reply....">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    $(".openModalPost").click(function () {
        // alert($(this).attr("data-postid"));
        $("#postModal").modal("show");
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
                $('#imagePreview').hide();
                $('#previewImg').show();
                $('#imagePreview').fadeIn(650);
            }
            reader.readAsDataURL(input.files[0]);
        } else {
            $('#previewImg').hide();
        }
    }

    $("#imageUpload").change(function () {
        readURL(this);
    });
</script>
<script src="/javascripts/reactionSystem.js"></script>